*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.headingText{
  margin-bottom:50px;
  border-bottom: 3px solid #0bffdc87;
}

.headingText:hover::before{
  transform:scaleX(1);
}
.headingText h2{
  display: inline-block;
  background-color:#9a9a9a;
  margin-bottom: -1px !important;
  padding: 5px;
  padding-right: 20px;
  border-radius: 0px 29px 0px 0px;
  font-size: 1.5rem;
  border-left: 6px solid #0bffdc87;
    border-right: 1px solid #0bffdc87;
}